*

!src/
!include/
!tests/
!src/*
!include/*
!tests/intersections.test
!tests/pairgen.py
!tests/2DGenDemo.ipynb
!tests/3DGenDemo.ipynb
!tests/scramble.py
!tests/showtest.py
!tests/testgen.py

!CMakeLists.txt
!.gitignore